<html>
<head>
<title>Botan JS - Test</title>
<script>
var debugEnv = true;
</script>

<link href="/ocss/Dandelion.CSSAnimations.MovieClip" rel="stylesheet" type="text/css" />
<script src="/ojs/Dandelion.CSSAnimations.MovieClip"></script>
<script>
function load ()
{
    var CSSAnimations = BotanJS.import( "Dandelion.CSSAnimations.*" );
    var mc = new CSSAnimations.MovieClip(
        "http://file.astropenguin.net/blog/Gothic/__A.png"
        // Row, Col
        , 6   , 7
        // wh
        , 125 , 125
        // Frame, start
        , 42  , 0
    );

    // CSSAnimations.MouseOverMovie( mc );

    document.body.appendChild( mc.stage );
    mc.nextFrame();
    mc.nextFrame();
    mc.nextFrame();
    mc.nextFrame();
    mc.nextFrame();

    mc.prevFrame();

};
</script>

<body onload="load()">
</body>
</html>
