<html>
<head>
<title>Botan JS - Test</title>
<script>
var debugEnv = true;
var _AstConf_ = { };
</script>

<link href="/ocss/System.Net.ClassLoader" rel="stylesheet" type="text/css" />
<script src="/ojs/System.Net.ClassLoader"></script>
<script>
var Loader = BotanJS.import( "System.Net.ClassLoader" );

var makeMessagebox = function()
{
    var MessageBox = BotanJS.import( "Components.MessageBox" );
    new MessageBox( "Title", "Message" ).show();
};

var ldr = new Loader( "/" );
ldr.load( "Components.MessageBox", makeMessagebox );
</script>
<body>
</body>
</html>
